<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\qc\Quick-Cocos2dx-Community\quick\player\win32\player3.exe</StartProgram>
    <StartArguments>-workdir D:\testfight\testfight -file src\main.lua</StartArguments>
    <StartWorkingDirectory>D:\qc\Quick-Cocos2dx-Community\quick\player\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>