<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>myinfsteady01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{25,29}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>myinfsteady02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{25,30}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>myinfsteady03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{25,31}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>myinfsteady04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,31},{25,31}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>myinfsteady05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{25,30}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>myinfsteady06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{25,29}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>myinfsteady07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{24,29}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>myinfsteady.png</string>
			<key>realTextureFileName</key>
			<string>myinfsteady.png</string>
			<key>size</key>
			<string>{25,209}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>209</integer>
		</dict>
	</dict>
</plist>